.App {
  width: 1140px;
  margin: 0 auto;
}
.App p {
  font-size: 16px;
}
h1,
h3 {
  text-align: center;
}
h3 {
  font-size: 36px;
}
a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}
.row {
  display: flex;
  flex-direction: row;
}
.header {
  width: 100%;
}
.header-username {
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
}
.header-link {
  font-size: 20px;
  display: inline-block;
  margin: 0 25px;
}
.reglament {
  width: 49%;
}
.registration {
  width: 50%;
}
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
}
.registration-form input,
.registration-form button {
  margin: 15px 0;
  padding: 5px;
  width: 80%;
  display: block;
}
.registration-list {
  width: 90%;
  margin: 0 auto;
}
.registration-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.registration-list-item .cell {
  width: 40%;
  border: 1px solid #555;
  margin: 3px;
  padding: 7px;
  text-align: center;
}
.registration-list-item .cell:nth-last-child(2) {
  width: 20%;
}
.registration table {
  width: 90%;
}
.registration table td {
  width: 40%;
  border: 1px solid #555;
  margin: 3px;
  padding: 7px;
  text-align: center;
}
.registration table td:nth-last-child(1) {
  width: 100px;
}
.registration table td:nth-child(1) {
  width: 55px;
}
.tour-table {
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #777;
  background-color: #555;
}
.tour-table td {
  border: 1px solid #777;
  text-align: center;
  line-height: 1.8;
}
.tour-table td:nth-child(3),
.tour-table td:nth-child(5) {
  width: 90px;
}
.tour-table tr:nth-child(odd) {
  background-color: aqua;
}
.tour-table tr:nth-child(even) {
  background-color: aquamarine;
}
.tour-table tr:nth-child(1) {
  font-weight: 700;
  background-color: #fff;
}
.form-group {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-group input,
.form-group textarea {
  width: 270px;
}
.dialog {
  height: 200px;
  width: 450px;
  background-color: #fff;
}
.dialog form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dialog-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tournament-table {
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #777;
}
.tournament-table td {
  border: 1px solid #777;
  text-align: center;
  line-height: 1.4;
  width: 25px;
}
.tournament-table td:nth-child(2) {
  width: 190px;
}
.tournament-table td.dark {
  background-color: #000;
}
.tournament-table td.hide {
  display: none;
}
.tournament-table.hide {
  width: 40%;
}
#vk_auth {
  width: 100% !important;
  height: 70vh !important;
  display: flex;
}
#vk_auth iframe {
  margin: auto;
}
.switch {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 30px;
}
.switch input {
  display: none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #fff;
  bottom: 1px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  transform: translateX(12px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
@media (max-width: 550px) {
  .row {
    flex-direction: column;
  }
  .App {
    width: 100%;
    font-size: 12px;
  }
  .reglament,
  .registration {
    width: 90%;
    margin: 0 auto;
  }
  .registration-form {
    width: 100%;
  }
}
