.container{
}
.App{
    
    width: 1140px;
    margin: 0 auto;
    p{
        font-size: 16px;
    }
}
h1, h3{
    text-align: center;
}
h3{
    font-size: 36px;
}
a{
    font: inherit;
    text-decoration: none;
    color: inherit;
}
.row{
    
    display: flex;
    flex-direction: row;
}
.header{
    width: 100%;
    &-username{
        font-size: 18px;
        display: inline-block;
        margin-right: 15px;
    }
}
.reglament{
    width: 49%;
}
.registration{
    width: 50%;
    &-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        font-size: 20px;
        input,button{
            margin: 15px 0;
            padding: 5px;
            width: 80%;
            display: block;
        }
    }
    &-list{
        width: 90%;
        margin: 0 auto;
        &-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .cell{
                width: 40%;
                border: 1px solid #555;
                margin: 3px;
                padding: 7px;
                text-align: center;
            &:nth-last-child(2){
                width: 20%;
            }
            }
        }
    }
    table{
        width: 90%;
        td{
            width: 40%;
                border: 1px solid #555;
                margin: 3px;
                padding: 7px;
                text-align: center;
        
            &:nth-last-child(1){
                width: 100px;
            }
            &:nth-child(1){
                width: 55px; 
            }
        }
    }
}

.tour{
    &-table{
        margin: 0 auto;
        width: 80%;
        font-size: 18px;
        font-weight: 500;
        border: 1px solid #777;
        background-color: #555;
        td{
            border: 1px solid #777;
            text-align: center;
            line-height: 1.8;
            &:nth-child(3),&:nth-child(5){
                width: 90px;
            }
        }
        tr{
            &:nth-child(odd){
                background-color: aqua;
            }
            &:nth-child(even){
                background-color: aquamarine;
            }
            &:nth-child(1){
                font-weight: 700;
                background-color: #fff;
                
            }
        }

    }
}

#vk_auth{
    width: 100% !important;
    height: 70vh !important;
    display: flex;
    iframe{
        margin: auto;
    }
}

@media (max-width: 550px){
    .row{
        flex-direction: column;
    }
    .App{
        width: 100%;
        font-size: 12px;
    }
    .reglament, .registration{
        width: 90%;
        margin: 0 auto;
    }
    .registration-form{
        width: 100%;
    }
    
}